<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WORKING TEMPLATE</title>
</head>
<body>
<h1>Welcome to text analyzer.Enter text below</h1>
<form action="/analyze" method="get">
    <textarea name='text' style="width: 724px; height: 110px;"></textarea>
    <input type="checkbox" name="removepunc">Remove Punctuation<br>
    <input type="checkbox" name="fullcaps">Upper case<br>
    <input type="checkbox" name="nlremover">Newline remover<br>
    <input type="checkbox" name="spaceremover">Extra space remover<br>
    <button type='submit'>Analyze text</button>
</form>
</body>
</html>